@charset "UTF-8";

header>h1{
	justify-content: center;
	display:flex;
}

header>ul{
	float: right;
    width: 100%;
}

header>ul> li{
	list-style: none;
    text-align: right;
    padding-right: 2%;
    float: right;
}

footer{
	
	text-align: center;
	
}

header>div>ul{
	float:left;
	list-style: none;
	width: 100%;
}

#htable table{
	width:100%;
	text-align: center;
	
	
}
#btable table{
	width: 100%;
	text-align: center;
	
}
#btable button{
	float: right;
}
#bform table{
	margin: auto;
	
}
#bforminput{
	text-align: center;
}
